@media -moz-pref("additionalcm.center_urlbar") {
/* URL Bar Tweaks */
	#urlbar .urlbar-input,
	.urlbar-input-container {
		  #urlbar-searchmode-switcher {
			display: none !important;
		  }
			text-align: center !important;
			position: relative;
		}
		
	#urlbar[open] {
		#identity-icon-box.identity-box-button, #page-action-buttons {
			display: none !important;
		}
	}
}

@media -moz-pref("additionalcm.separator_urlbar") {
	.urlbarView-body-inner {
		#urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
			border-top: 0px solid rgba(255, 255, 255, 0.25) !important;
		}
	}
}

@media -moz-pref("additionalcm.separator_pinned") {
	.pinned-tabs-container-separator {
		display: none !important;
	}
}




