@media -moz-pref("additionalcm.extra-tweaks") {
/* URL Bar Tweaks */
	#urlbar .urlbar-input,
	.urlbar-input-container {
	  #urlbar-searchmode-switcher, #page-action-buttons {
		display: none !important;
	  }
		text-align: center !important;
		position: relative;
	}

}


